doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tempat Wisata di Sumatera Utara
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 E2O
        ul
          li.li Terdiri dari :
          li.nama 1. ELiezer Sitepu
          li.nama 2. Eben Almaranata Sinaga
          li.nama 3. Oksiton Mesa K Purba
      section
        h2 Tempat Wisata di Sumatera Utara
      section
        h2 1. Danau Toba
        img(src='../img/Danau_toba.PNG')
      section
        h2 2. Air Terjun Dwi Warna Sibolangit
        img(src='../img/DW.PNG')
      section
        h2 3. Maha Vihara Adhi Maitreya
        img(src='../img/vihara.PNG')
      section
        h2 4. Pulau Samosir
        img(src='../img/samosir.PNG')
      section
        h2 5. Istana Maimun
        img(src='../img/maimun.PNG')
      section
        h2 6. Pulau Nias
        img(src='../img/nias.PNG')
      section
        h2 7. Taman Wisata Iman Salib Kasih
        img(src='../img/salib kasih.PNG')
      section
        h2 8. Kota Tarutung
        img(src='../img/tarutung.PNG')
      section
        h2 9. Gunung Sibayak
        img(src='../img/sibayak.PNG')
      section
        h2 10. Air Terjun Sipiso-Piso
        img(src='../img/piso.PNG')
      section
        h2 11. Bukit Lawang
        img(src='../img/lawang.PNG')
      section
        h2 12. Air Terjun Sigura-Gura
        img(src='../img/gura.PNG')
      section
        h2 13. Graha Santa Maria Annai Velangkanni
        img(src='../img/palangkani.PNG')
      section
        h2 14. Taman Alam Lumbini
        img(src='../img/lumbini.PNG')
    script(src='build/build.js')